@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply font-semibold text-4xl;
}

h2 {
  @apply text-3xl;
}

a:hover {
  text-decoration: none;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

@layer utilities {
  @variants responsive {
    .masonry-4-col {
      column-count: 4;
      column-gap: 1em;
    }

    .masonry-3-col {
      column-count: 3;
      column-gap: 1em;
    }

    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }

    .break-inside {
      break-inside: avoid;
    }
  }
}